@import "tailwindcss";

@plugin "daisyui" {
  themes: wireframe --default, black --prefersdark;
}
/* @plugin "daisyui/theme" {
  name: "wireframe";
  --color-primary: #b91c1c;
}

@plugin "daisyui/theme" {
  name: "black";
  --color-primary: #b91c1c;
} */

/* TODO: not sure if correct way to override */
/* :root {
  --color-primary: #b91c1c;
} */
